:root {
	--white: #ffffff;
	--black: #171717;
	--Brand-A: #5c24ff;
	--Brand-B: #3e1f92;
}

@media (prefers-color-scheme: dark) {
	:root {
		--black: #0a0a0a;
		--white: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	height: 100vh;
}

body {
	color: var(--white);
	background: var(--white);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
