.main,
.section {
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: center;
}
.section {
	min-width: 1120px;
}

.main .language {
	position: absolute;
	right: 20px;
}

.main .language button {
	background: var(--white);
	color: var(--black)
}

@media (max-width: 1120px) {
	.main {
		position: relative;
	}
	.section {
		min-width: 0; 
	}
}
