.imageWrapper {
	position: relative;
	width: 350px;
	height: 416px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}

.image {
	position: absolute;
	object-fit: cover;
	border-radius: 24px;
}

.imageZI1 {
	z-index: 1;
	transform: rotate(-2.7deg);
	top: 12.5px;
	left: 0;
}

.imageZI2 {
	z-index: 2;
	top: 11.03px;
	left: 14.21px;
}

.imageZI3 {
	z-index: 3;
	top: 12.02px;
	left: 84.99px;
	transform: rotate(4deg);
	box-shadow: 0px 14px 32px 0px #00000040;
}
